<footer class="footer">
  <small>
    <a href="http://srujanarailsworks.com/">Srujana RailsWorks</a>
    by Sru Jana
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="http://news.srujanarailsworks.com/">News</a></li>
    </ul>
  </nav>
</footer>
